# 깃(Git)내에 올리지 말아야될 파일 및 디렉토리를 지정합니다.
# 각 폴더별로도 .gitignore을 생성하여 제어할 수 있습니다.

# 공통 제거 부분
.vscode/*    # Visual Studio Code 프로젝트 세팅 파일 제거
.eclipse/*   # Eclipse 프로젝트 세팅 파일 제거
.settings/*  # Eclipse 프로젝트 세팅 파일 제거
.vsproject/* # Visual Studio 프로젝트 세팅파일 제거

.vscode/launch.json
